@{
    ViewData["Title"] = "Home Page";
}

<form>
    Como se llama tu chory:<br>
    <input type="text" name="firstname" value="fulana"><br>
    Solicite su Ticke:<br>
    <input type="text" name="lastname" value="***-***-****"><br><br>
    <button class="btn-danger">Enviar</button>
    <button class="btn-danger">Inicio</button> 
    <</form>>


    
